<form action="/login" method="post">
  <label>
    Username: 
    <input 
      type="text" 
      name="username" 
      id="username"
      value="<%= username %>"
    >
  </label>
  <label>Password: <input type="password" name="password" id="password" value="<%= password %>"></label>
  <button type="submit">Login</button>
  <a href="/oauth">Login with Oauth</a>
  <% if (errorMessage) { %>
    <p><%= errorMessage %></p>
  <% } %>
</form>